<!DOCTYPE html>
<html>
<head>
  <title>Product Table</title>
</head>
<body>

  <table border="1">
    <tr>
      <th>Product no</th>
      <th>Product Name</th>
      <th>Original Price</th>
      <th>Selling Price</th>
      <th>Quantity</th>
    </tr>
    <tr>
      <td>001</td>
      <td>Pen</td>
      <td>10.00</td>
      <td>8.00</td>
      <td>50</td>
    </tr>
    <tr>
      <td>002</td>
      <td>Notebook</td>
      <td>40.00</td>
      <td>35.00</td>
      <td>30</td>
    </tr>
    <tr>
      <td>003</td>
      <td>Pencil Box</td>
      <td>60.00</td>
      <td>55.00</td>
      <td>20</td>
    </tr>
    <tr>
      <td>004</td>
      <td>Eraser</td>
      <td>5.00</td>
      <td>4.00</td>
      <td>100</td>
    </tr>
  </table>

</body>
</html>
